<div class="rounded rounded-t-lg overflow-hidden shadow max-w-xs my-3">
    <div class="relative w-full h-[200px] bg-black p-2 flex items-center justify-center my-4">
        <img
            alt=""
            class="object-contain mx-auto transition-opacity duration-[2000ms]"
            [src]="urlDriveAnverso"
            [style.opacity]="hover ? 0 : 1"
            (mouseenter)="hover = true"
            (mouseleave)="hover = false"
            style="height: 180px; margin: 0 auto;"
        />
        <img
            alt=""
            class="object-contain mx-auto absolute transition-opacity duration-[2000ms]"
            [src]="urlDriveReverso"
            [style.opacity]="hover ? 1 : 0"
            (mouseenter)="hover = true"
            (mouseleave)="hover = false"
            style="height: 180px; margin: 0 auto;"
        />
    </div>
    <div class="flex justify-center -mt-8">
        <img src="{{ urlDriveBandera }}" alt=""
                class="rounded-full border-solid border-white border-2 -mt-3 z-10 w-[80px] h-[80px]">
    </div>
    <div class="text-center px-3 pb-6 pt-2">
        <h3 class="text-black text-sm bold font-sans">
          Precio: {{ formatCOP(precio) }}
        </h3>
        <p class="mt-2 font-sans font-light text-grey-700">Denominacion: {{ denominacion }} </p>
    </div>
    <div class="flex justify-center pb-3 text-grey-dark">
        <div class="text-center mr-3 border-r pr-3">
            <h2>34</h2>
            <span>Photos</span>
        </div>
        <div class="text-center">
            <h2>42</h2>
            <span>Friends</span>
        </div>
    </div>
</div>