<header [class]="bgHeader">
    <div class="grid grid-cols-4 gap-4">
        <div class="p-1 mx-3 inline-flex items-center col-span-1">
            <h1 class="text-white p-2">Logo</h1>
        </div>
        <div class="p-1 flex flex-row items-center col-span-3">
            <app-image [imageClass]="'inline-block h-32 w-32'" [imageSrc]="'assets/images/Legarix logo.svg'"></app-image>
            <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Adam Wathan</a>
            <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                <ul class="list-reset">
                    <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-gray-light">My account</a></li>
                    <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-gray-light">Notifications</a></li>
                    <li><hr class="border-t mx-2 border-gray-ligght"></li>
                    <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-gray-light">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>